@charset "UTF-8";

:root {
    --bg-color: linear-gradient(
        135deg,
        #0e002e 0%,
        #1e092b 23%,
        #320c65 49%,
        #a01b7c 80%,
        #c21780 100%,
    );
    --main-color: #d136d1;
    --text-color: #fff;
}
/*-------------------------
 全体
 ----------------------- */
 body {
    font-family: "Montserrat","Noto SansJP",Arial,"Hiragino Kaku Gothic ProN",
        "Hiragino Sans",Meiryo,sans-serif;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: var(--text-color);
    background-color: var(--bg-color);
    font-feature-settings: "palt";
 }

 img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
 }

 .pc {
    display: block;
 }
 .sp {
    display: none;
 }

 /*-------------------------
 ボタン
 ----------------------- */
 .btn {
    display: inline-block;
    position: relative;
    width: 300px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.05em;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    padding: 24px 0;
    transition: all 0.3s;
    border-radius: 100px;
    background: linear-gradient(135deg, #c41a7f 0%, #664bbf 100%);
    box-shadow: 0 10px 0 #dd118e;
 }

 .btn:hover {
    transform: tranlateY(4px);
    box-shadow: 0 6px 0 #dd118e;
 }

 .btn--sm {
    width: 230px;
    font-size: 18px;
 }
 /*-------------------------
レイアウト
 ----------------------- */