@charset "UTF-8";

:root {
    --bg-color: linear-gradient(
        135deg,
        #0e002e 0%,
        #1e092b 23%,
        #320c65 49%,
        #a01b7c 80%,
        #c21780 100%,
    );
    --main-color: #d136d1;
    --text-color: #fff;
}
/*-------------------------
 全体
 ----------------------- */
 body {
    font-family: "Montserrat","Noto SansJP",Arial,"Hiragino Kaku Gothic ProN",
        "Hiragino Sans",Meiryo,sans-serif;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: var(--text-color);
    background-color: var(--bg-color);
    font-feature-settings: "palt";
 }

 img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
 }

 .pc {
    display: block;
 }
 .sp {
    display: none;
 }

 /*-------------------------
 ボタン
 ----------------------- */
 .btn {
    display: inline-block;
    position: relative;
    width: 300px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.05em;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    padding: 24px 0;
    transition: all 0.3s;
    border-radius: 100px;
    background: linear-gradient(135deg, #c41a7f 0%, #664bbf 100%);
    box-shadow: 0 10px 0 #dd118e;
 }

 .btn:hover {
    transform: tranlateY(4px);
    box-shadow: 0 6px 0 #dd118e;
 }

 .btn--sm {
    width: 230px;
    font-size: 18px;
 }
 /*-------------------------
レイアウト
 ----------------------- */
 .container {
   max-width: 1170px;
   margin: 0 auto;
   padding: 0 30px;
 }

 .section {
   padding: 110px 0;
 }

 .section_heading {
   text-align: center;
   margin-bottom: 60px;
 }

/*-------------------------
見出し
----------------------- */
.heading01 {
   font-size: 60px;
   font-weight: bold;
   line-height: 1;
   letter-spacing: 0.05em;
   color: var(--main-color);
   text-transform: uppercase;
}

.heading01_subtitle {
   display: block;
   font-size: 20px;
   color: #fff;
   margin-top: 10px;
}

/*-------------------------
テーブル
----------------------- */
.table-type01 {
   width: 100%;
   border-collapse: collapse;
   border-spacing: 0;
}

.table-type01 th,
.table-type01 td {
   text-align: left;
   padding: 5px 0;
}

.table-type02 {
   width: 100%;
   border-collapse: collapse;
   border-spacing: 0;
}

.table-type02 tr {
   border-bottom: solid 1px #740174;
}

.table-type02 th,
.table-type02 td {
   padding: 40px 30px;
}

.table-type02 th {
   width: 200px;
}

.table-type02 td > p {
   font-size: 15px;
   line-height: 1.5;
}

/*-------------------------
ヘッダー
----------------------- */

.header {
   display: flex;
   position: fixed;
   z-index: 10;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   height: 90px;
   padding: 30px;
}

.header_logo {
   font-size: 28px;
   font-weight: bold;
   line-height: 1;
   color: var(--main-color);
}

/*-------------------------
グローバルナビ
----------------------- */
.gnav_list {
   display: flex;
   position: relative;
   align-items: center;
   justify-content: center;
   column-gap: 30px;
}

.gnav_item {
   font-size: 16px;
   font-weight: bold;
   line-height: 1;
   letter-spacing: 0.05em;
   text-transform: uppercase;
}

.gnav_link {
   color: #fff;
   text-decoration: none;
}

/*-------------------------
メインビジュアル
----------------------- */
.mv {
   background: var(--bg-gradient);
}

.mv_inner {
   display: flex;
   position: relative;
   align-items: center;
   max-width: 1240px;
   height: 700px;
   margin: 0 auto;
   padding: 0 50px;
   background-image: url(./img/mv.png);
   background-repeat: no-repeat;
   background-position: right bottom;
   background-size: 560px 737px;
}

.mv_titleArea {
   position: relative;
   color: #fff;
}

.mv_titleArea::after {
   display: block;
   content: "";
   position: absolute;
   right: 40px;
   bottom: 60px;
   width: 326px;
   height: 68px;
   transform: rotate(-13deg);
   background-image: url(./img/teiji-de-kaerumon.svg);
   background-size: contain;
}

.mv_subtitle {
   font-size: 24px;
   font-weight: bold;
   line-height: 1;
   color: var(--main-color);
   margin-bottom: 0.8em;
}

.mv_title {
   font-size: clmp(24px, 10vw, 100px);
   font-weight: bold;
   line-height: 1;
   margin-bottom: 10px;
}

.mv_date {
   font-size: 36px;
   font-weight: bold;
   letter-spacing: 0.07em;
}

.mv_btn {
   margin-top: 2em;
}

.mv_speaker-name {
   position: absolute;
   right: 20px;
   bottom: 20px;
   font-size: 21px;
   line-height: 1;
}

.mv_speaker-name-small {
   font-size: 0.8em;
}

.mv_speaker-name-label {
   font-size: 14px;
}

/*-------------------------
ABOUT
----------------------- */
.about_body {
   display: flex;
   align-items: center;
   column-gap: 70px;
}

.about_img-wrapper {
   flex: 0 1 40%;
}

.about_desc {
   flex: 1;
}

.about_subtitle {
   font-size: 24px;
   margin-bottom: 20px;
}

.about_title {
   font-size: 48px;
   font-weight: bold;
   line-height: 1;
   letter-spacing: 0.1em;
   color: var(--main-color);
   margin-bottom: 40px;
}

.about_info {
   font-size: 18px;
   line-height: 1.8;
   margin-bottom: 20px;
}

.about_btn {
   margin-top: 20px;
}

/*-------------------------
SPEAKER
----------------------- */
.speaker {
   background: var(--bg-gradient);
}

.speaker-list {
   display: grid;
   row-gap: 80px;
}

.speaker-box {
   display: flex;
   column-gap: 60px;
}

.speaker-box:nth-child(2n) {
   flex-direction: row-reverse;
}

.speaker-box_desc {
   flex: 1;
}

.speaker-box_name {
   font-size: 42px;
   font-weight: bold;
   line-height: 1;
   color: var(--main-color);
   margin-bottom: 40px;
}

.speaker-box_name-note {
   display: block;
   font-size: 18px;
   color: #fff;
   margin-top: 10px;
}

.speaker-box_text {
   font-size: 16px;
   line-height: 1.8;
}